<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Edit User</h1>

<form th:action="@{/users/edit}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Username:</label>
    <input type="text" th:field="*{username}"/>
    <br>
    <label>Email:</label>
    <input type="text" th:field="*{email}"/>
    <br>
    <button type="submit">Save Changes</button>
</form>
</body>
</html>
That's it!






